@font-face {
  font-family: "Poppins";
  src: url(/assets/font/Poppins-SemiBold.ttf) format("truetype");
}

body {
  font-family: "Poppins";
  font-size: 16px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(/assets/images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 87vh;
}

.header .logo {
  width: 147px;
  height: 115px;
}

.header .content-header {
  color: white;
  font-size: 5vw;
  max-width: 700px;
  text-align: center;
  /* line-height: 74px; */
  margin-top: 30px;
}

.header .content-header button {
  background: #fff;
  width: 245px;
  height: 51px;
  font-family: "Poppins";
  font-size: 18px;
  color: #383838;
}

.container {
  max-width: 1440px;
  margin: 0 100px;
  background: red;
}

.categories {
  font-family: 'Poppins';
  color: #383838;
}

.categories h2 {
  font-size: 2em;
}

.categories p {
  font-size: 1em;
}

